<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <ul>
        <ul>
            {{#dependencies}}
                <li>{{ name }} - {{ version }}</li>
            {{/dependencies}}
        </ul>
    </ul>
</body>

</html>